@model IEnumerable<VolvoTestWebApp.Models.VolvoTruckModel>

@{
    ViewData["Title"] = "Volvo Trucks";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">New Truck</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FabricationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                var description = item.Description ?? "Desc. not available";
                <tr>
                    <td>
                        @description
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FabricationYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelYear)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {   
            <tr>
                <td>
                    No truck is registered in the system.
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
        }
    </tbody>
</table>
